# [.github/workflows/CI.yml]
name: CI
on:
  push:
    branches:
      - main
    tags: '*'
  pull_request:
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        version:
          - '1.7'
          - '1.8'
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
        arch:
          - x64
    steps:
      - uses: actions/checkout@v1
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install pyldl (Linux/MacOS)
        if: ${{ runner.os != 'Windows' }}
        run: |
          git clone https://github.com/msaito8623/pyldl
          pip install pip==21.0
          pip install -e pyldl
        env:
          PYTHON: 3.8
      - name: Install pyldl (Windows)
        if: ${{ runner.os == 'Windows' }}
        run: |
            git clone https://github.com/msaito8623/pyldl
            c:\hostedtoolcache\windows\python\3.8.10\x64\python.exe -m pip install pip==21.0
            pip install -e pyldl
        env:
            PYTHON: 3.8
      - name: Install python packages
        run: |
            pip install pandas
            pip install numpy
        env:
            PYTHON: 3.8
      - name: build pycall
        run: |
          julia -e 'using Pkg; Pkg.build("PyCall")'
      - uses: julia-actions/julia-runtest@latest
        env:
          PYTHON: 3.8
      - uses: julia-actions/julia-uploadcodecov@latest
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
